annotated-types==0.7.0
anyio==4.12.1
argcomplete==3.6.2
attrs==25.4.0
autocommand==2.2.2
beautifulsoup4==4.14.3
Brlapi==0.8.7
btrfsutil==6.17.1
build==1.4.0
caldav==2.2.3
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
colour==0.1.5
contourpy==1.3.3
cryptography==46.0.3
cycler==0.12.1
daemonize==2.5.0
dasbus==1.7
dbus-python==1.4.0
defusedxml==0.7.1
distro==1.9.0
docopt==0.6.2
editables==0.5
evdev==1.9.2
fastjsonschema==2.21.2
filelock==3.20.3
fonttools==4.61.1
fsspec==2026.1.0
gmpy2==2.2.2
gps==3.27.5
h11==0.16.0
h2==4.3.0
hatchling==1.28.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
hyprshade==4.0.1
icalendar==6.3.2
icalendar-searcher==1.0.3
idna==3.11
ImageIO==2.37.2
imageio-ffmpeg==0.6.0
installer==0.7.0
iotop==0.6
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
Jinja2==3.1.6
jiter==0.12.0
keyutils==0.6
kiwisolver==1.4.7
lark==1.3.1
libtorrent==2.0.11
llvmlite==0.46.0
louis==3.36.0
lxml==6.0.2
Mako==1.3.10.dev0
Markdown==3.10.1
markdown-it-py==4.0.0
MarkupSafe==3.0.2
matplotlib==3.10.8
mdurl==0.1.2
meson==1.10.1
moddb==0.14.0
more-itertools==10.8.0
mpmath==1.3.0
netsnmp-python==1.0a1
networkx==3.5
nftables==0.1
numba==0.63.1+0.g7484a86bd.dirty
numpy==2.4.2
openai==2.15.0
openai-whisper==20250625
openrazer==3.11.0
openrazer_daemon==3.11.0
optimus-manager==810
packaging==26.0
pandas==2.3.3
pathspec==0.12.1
pillow==12.1.0
pipx==1.8.0
platformdirs==4.5.1
pluggy==1.6.0
poetry-core==2.2.1
pooch==1.9.0
psutil==7.2.1
pwquality==1.4.5
PyAudio==0.2.14
pybind11==3.0.1
pycairo==1.29.0
pycparser==2.23
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
PyGObject==3.54.5
pyparsing==3.3.2
pyproject_hooks==1.2.0
PyQt6==6.10.2
PyQt6-WebEngine==6.10.0
PyQt6_sip==13.11.0
python-dateutil==2.9.0
python-dotenv==1.2.1
pytz==2025.2
pyudev==0.24.3
pywalfox==2.7.4
pyxdg==0.28
PyYAML==6.0.3
recurring-ical-events==3.8.0
Reflector==2023.6.28.0.36.1
regex==2026.1.15
requests==2.32.5
rich==14.3.1
scipy==1.17.0
screeninfo==0.8.1
setproctitle==1.3.7
setuptools==80.9.0
six==1.17.0
sniffio==1.3.1
soupsieve==2.8.3
sympy==1.14.0
systemd-python==235
TBB==0.2
tiktoken==0.12.0
torch==2.10.0
tqdm==4.67.1
trove-classifiers==2026.1.14.14
typing-inspection==0.4.2
typing_extensions==4.15.0
udiskie==2.6.1
urllib3==2.6.3
userpath==1.9.2
vobject==0.9.9
waypaper==2.7
webrtcvad==2.0.10
wheel==0.46.3
x_wr_timezone==2.0.1
yt-dlp==2026.1.31
yt-dlp-ejs==0.4.0
